<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.crawling">
<!-- SELECT -->
	<select id="getKeywordMatchedList" resultType = "com.spring.crawling.CrawlingParamVO">
		SELECT *
			, #{userid} as userid
			, #{username} as username
			, #{email} as email
			, #{keyword1} as keyword1
			, #{keyword2} as keyword2
			, #{keyword3} as keyword3
			, #{keyword4} as keyword4
			, #{keyword5} as keyword5
		FROM notice
		WHERE 
			ctime > DATE_ADD(NOW(),INTERVAL -6 MINUTE)
		AND (
			<if test="keyword1 != null">
				UPPER(title) like CONCAT('%', UPPER(#{keyword1}), '%') OR
			</if>
			<if test="keyword2 != null">
				UPPER(title) like CONCAT('%', UPPER(#{keyword2}), '%') OR
			</if>
			<if test="keyword3 != null">
				UPPER(title) like CONCAT('%', UPPER(#{keyword3}), '%') OR
			</if>
			<if test="keyword4 != null">
				UPPER(title) like CONCAT('%', UPPER(#{keyword4}), '%') OR
			</if>
			<if test="keyword5 != null">
				UPPER(title) like CONCAT('%', UPPER(#{keyword5}), '%') OR
			</if>
				false
			) 
	</select>
<!-- INSERT -->
	<insert id="insertNotice">
		insert into notice (category, noticeNum, title, link) 
		values (#{category}, #{noticeNum}, #{title}, #{link})
	</insert>
	
<!-- 	<update id="updateBoard"> -->
<!-- 		update BOARD set title = #{title}, writer = #{writer},  -->
<!-- 		content = #{content}, category = #{category} where seq = #{seq})  -->
<!-- 	</update> -->
<!-- 	<delete id="deleteBoard"> -->
<!-- 		delete from BOARD where seq = #{seq} -->
<!-- 	</delete> -->
<!-- 	<select id="getBoard" resultType = "board"> -->
<!-- 		select * from board where seq = #{seq} -->
<!-- 	</select> -->
	<!-- SQL문에 특수문자 <, > 등의 기호를 사용할 때, xml에 의해서 연산자로 처리되는 것을 막기 위함
	CDATA Section 내의 구분은 XML parser가 해석하지 않음
	 
	<select id="getBoard" resultType = "board">
	<![CDATA[
		select * from BOARD
		where seq = #{seq}
	]]>
	</select>
	 -->
	<select id="getBoardList" resultType = "board">
		select * from board order by seq desc
	</select>
</mapper>